@import '~@angular/material/theming';

@mixin spinner-theme($theme) {

  $primary: map-get($theme, primary);
  $error: map-get($theme, warn);
  $success: map-get($theme, success);

  .success {
    stroke: mat-color($success, A100);
    fill: mat-color($success, A100);
  }

  .failure {
    stroke: mat-color($error);
    fill: mat-color($error);
  }

  .spin {
    stroke: mat-color($primary, 100);
  }
}
