@import '~@angular/material/theming';
@import "~src/app/spinner/spinner.component.mixin";
@import '~@angular/cdk/overlay-prebuilt.css';

@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent: mat-palette($mat-teal);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include spinner-theme($theme);


